
node_modules/
dist/
.env
terraform/.terraform/
terraform/.terraform.lock.hcl
generated/*.json
terraform/generated/*.json

generated/

.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

.DS_Store