

DD_API_KEY=XXXXXX
DD_APP_KEY=XXX
DD_SITE=datadoghq.com
DD_API_BASE_URL=https://api.datadoghq.com
DD_EVENT_BATCH_SIZE=10

OLLAMA_ENABLED=true
# OLLAMA_BASE_URL=http://127.0.0.1:11434
# OLLAMA_MODEL=qwen2.5-coder:14b

DYNATRACE_ENV_URL=https://XXXXXXXX.live.dynatrace.com
DYNATRACE_API_TOKEN=xxxxxx
DYNATRACE_PLATFORM_TOKEN=xxxxxx

#DYNATRACE_ENTITY_SELECTOR=
#DYNATRACE_MANAGEMENT_ZONE=
DYNATRACE_EVENT_TIMEOUT_MINUTES=15

# Grafana Cloud
GRAFANA_URL=https://your-stack.grafana.net
GRAFANA_AUTH=glsa_xxxxxxxxxxxxxxxxxxxx
